./AppData
./Application Data
./IntelGraphicsProfiles
./Searches
./Start Menu
./Tracing
./Downloads
./ansel
./OneDrive
./Favorites
./Local Settings
./Cookies
./NetHood
./Documents
./PrintHood
./Pictures
./NTUSER.DAT
./scoop/cache

